* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    position: relative;
}
.container{
    width: 100%;
    
}
.firstdiv{
    width: 100%;
    display: flex;
    background-color:#F4793A;
}
.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right a{
    color: antiquewhite;
    text-decoration: none;
}
.lastdiv{
width: 100%;
height: 900px;
display: flex;
}
.leftlastdiv{
    height: 100%;
    width:50% ;
    background-color: #8E9487;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.videocontainer{
    height: 300px;
    width: 300px;
    position: relative;   
}
.videocontainer img{
    height: 400px;
    width: 400px;
}

.helix{
    position: absolute;
    top: -40px;
    left: -40px;
    width: 380px;
    z-index: 1;
}

.videocontainer video{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotate(-15deg);
}

.rightlastdiv{
    height: 100%;
    width: 50%;
    

}
.top{
    height: 50%;
    width: 100%;
    background-color: #8E9487;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
 font-size: 100px;
 border-bottom: 1px solid white;
 border-left: 1px solid white;
 
}
.bottom{
    height: 50%;
    width: 100%;
    background-color: #8E9487;
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    font-size: 30px;
    border-bottom: 1px solid white;
 border-left: 1px solid white;
 color: white;
   
}
@media(max-width:748px){
    
}
