* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-columns: repeat(auto-fit,min-max(240px,1fr));
    grid-gap:10px;
    background-image: url("https://plus.unsplash.com/premium_photo-1761696091312-5f580b6a5af1?q=80&w=1135&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    
}
.items{
    background-color: #ffffff76;
    border: 1px solid grey;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.a{
grid-column: 1/-1;
height:200px;
}
.b{
grid-column: 1/-2;
height: 200px;
}
.d,.e,.f{
    height: 400px;
}
.g,.h,.i{
    height: 100px;
}
@media(max-width:748px){
    .container{}
}
